/* Navbar */
.site-nav-primary {
  border-bottom: 0.5px var(--beige-100) solid;
  background-color: var(--brown-500);
}

/* Hero section */
.hero {
  background-color: var(--brown-500);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 86.8px);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;
  overflow: hidden;
  padding-top: 220px;
  position: relative;
}

.hero-info {
  max-width: 800px;
  text-align: center;
  z-index: 10;
}

.hero-subheading {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  max-width: 570px;
  margin-inline: auto;
}

@media only screen and (max-width: 767px) {
  .hero-heading {
    font-size: 2.5rem;
  }
}

/* Hero disco balls */
.hero-ball-1 {
  position: absolute;
  bottom: 61%;
  z-index: 1;
}

.hero-ball-2 {
  position: absolute;
  bottom: 0;
  left: 6.6%;
}

.hero-ball-3 {
  position: absolute;
  bottom: 45%;
  left: 15.9%;
}

.hero-ball-4 {
  position: absolute;
  top: 0%;
  left: 31%;
}

.hero-ball-5 {
  position: absolute;
  bottom: 62%;
  left: 42%;
}

.hero-ball-6 {
  position: absolute;
  bottom: 74%;
  left: 62.3%;
}

.hero-ball-7 {
  position: absolute;
  bottom: 1%;
  right: 22%;
}

.hero-ball-8 {
  position: absolute;
  bottom: 30%;
  right: 13%;
}

.hero-ball-9 {
  position: absolute;
  top: 0;
  right: 1%;
}

.hero-ball-10 {
  position: absolute;
  bottom: 4%;
  right: 0;
}

@media (max-width: 1530px) {
  .hero-ball-3-container,
  .hero-ball-8-container {
    display: none;
  }

  .hero-ball-7 {
    right: 12%;
  }
}

@media (max-width: 1210px) {
  .hero-ball-2 {
    left: 3%;
  }

  .hero-ball-4 {
    left: 25%;
  }

  .hero-ball-5 {
    left: 39%;
  }
}

@media (max-width: 1945px) {
  .hero-ball-10-container {
    display: none;
  }

  .hero-ball-7 {
    right: 3%;
  }

  .hero-ball-9 {
    left: 86%;
  }

  .hero-ball-2 {
    left: -8%;
  }
}

@media (max-width: 830px) {
  .hero-ball-2-container,
  .hero-ball-7-container {
    display: none;
  }

  .hero-ball-1 {
    right: 80%;
  }

  .hero-ball-4 {
    left: 21%;
  }

  .hero-ball-5 {
    left: 36%;
  }

  .hero-ball-6 {
    left: 66%;
  }

  .hero-ball-9 {
    left: 80%;
  }
}

@media (max-width: 680px) {
  .hero-ball-4 {
    left: 17%;
  }

  .hero-ball-5 {
    left: 32%;
  }

  .hero-ball-6 {
    left: 69%;
  }

  .hero-ball-9 {
    left: 85%;
  }
}

@media (max-width: 480px) {
  .hero-ball-1-container,
  .hero-ball-9-container {
    display: none;
  }

  .hero-ball-4 {
    left: -2%;
  }

  .hero-ball-5 {
    left: 25%;
    top: -60px;
  }

  .hero-ball-6 {
    left: 77%;
  }

  .hero {
    padding-top: 240px;
  }
}

@media (max-width: 370px) {
  .hero-ball-4-container,
  .hero-ball-6-container {
    display: none;
  }

  .hero-ball-5 {
    left: 21%;
  }
}

/* Experience section */
.experience-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.experience-info {
  text-align: center;
}

.experience-info-subheading {
  color: var(--dark-blue-65);
}

@media only screen and (min-width: 768px) {
  .experience-info-container {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .experience-info {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1.5rem;
  }
}

/* Services section */
.services {
  display: grid;
  margin-top: 30px;
  gap: 2rem;
}

.services-section {
  padding-block: 0;
}

.services-container {
  background-color: var(--beige-200);
  border-radius: 10px;
  padding-block: 2.3rem;
  padding-inline: 1rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.img-services img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
}

.service-title {
  margin-top: 25px;
  margin-bottom: 16px;
}

.service-subheading-description {
  color: var(--dark-blue-65);
  line-height: 163.2%;
  padding-inline: 10px;
  margin-bottom: 15px;
}

.service-link {
  color: var(--orange);
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-container {
    padding-inline: 3.5rem;
  }

  .service-title {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .services {
    grid-template-columns: repeat(4, 1fr);
  }

  .img-services img {
    aspect-ratio: 267/452;
  }
}

/* Process section */
.process-section-home-page {
  background-image: url('./images/process-section-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

@media (max-width: 1007px) {
  .process-section-home-page {
    background-image: none;
  }
}

/* Find us and Gallery Bg */
.find-us-and-gallery-bg {
  background-image: url(./images/leaves-gallery.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
}

/* Gallery section */
.gallery-photos {
  display: grid;
  gap: 20px;
}

.gallery-info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.813rem;
}

@media only screen and (min-width: 768px) {
  .gallery-photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Find us section */
.find-us-container {
  display: grid;
  align-items: center;
  gap: 3.75rem;
}

.find-us-info {
  display: grid;
  align-content: center;
  gap: 1.5rem;
  text-align: center;
  color: var(--dark-blue-70);
}

.find-us-map {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: auto;
  aspect-ratio: 60/45;
}

@media only screen and (max-width: 767px) {
  .find-us-heading {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .find-us-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* FAQs */
.faq-section {
  background-image: url(./images/faq-bg.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
}

.faqs-heading {
  text-align: center;
}

.faqs-list {
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
}

.faq {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: var(--font-colour-body-lighter);
  overflow: hidden;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-out;
  text-align: left;
}

.faq-header:hover,
.faq.open .faq-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.faq-header-chevron {
  width: 12px;
  flex-shrink: 0;
  margin-left: 1rem;
  transition: transform 0.1s ease-out;
}

.faq.open .faq-header-chevron {
  transform: rotateZ(-180deg);
}

.faq-body {
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}

.faq:not(.open) .faq-body {
  display: none;
}
