<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
</head>

<body>
  <h1>Settings</h1>

  <h2>Website Settings</h2>
  <ul>
    {% for key, value in settings %}
    <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>

  <h2>Social Media Settings</h2>
  <ul>
    {% for key, value in socials %}
    <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>
</body>

</html>
