---
layout: pages/home.njk

title: Especialistas en planificación y alquiler de eventos en FL

meta:
  title: Organizadores de Eventos y Renta de Artículos en Florida
  description: "Expertos en eventos en Florida: bodas, corporativos y celebraciones de todo tipo, alquiler de productos y servicios personalizados a precios accesibles."
  keywords: Organizadores de eventos en Florida, Servicios de catering y alquiler en Florida, Planificador de eventos en Florida, Alquiler de productos para eventos en Florida, Planificación de eventos en Florida, Renta de productos accesibles para eventos en Florida, Wedding planner en Florida, Decoradores de fiestas en Florida, Servicios de catering en Florida, renta de sillas y mesas en Florida, Eventos corporativos en Florida, Organizadores de cumpleaños Florida, Organizadores de aniversarios en Florida, Organizadores de eventos religiosos en Florida, Organizadores de Thanksgiving en Florida, Organizadores de fiestas navideñas en Florida, Eventos personalizados Florida, Eventos económicos Florida

hero:
  heading: Eventos diseñados para ser inolvidables
  subheading: Transformamos tu visión en realidad con eventos únicos y personalizados. Creamos experiencias extraordinarias adaptadas a tus necesidades.
  cta: Hazlo realidad

experience:
  clients: Clientes felices y sumando!
  years: Años en la industria
  events: Eventos hechos realidad

services:
  heading: Servicios
  subheading: Elige tu experiencia
  wedding_planner:
    heading: Wedding Planner
    img: Sala de bodas elegantemente decorada
    description: ¡Hacemos realidad la boda de tus sueños! Cada detalle está diseñado para ti, creando un día tan único y especial como tu historia de amor. Todo lo que necesitas está en nuestras manos; ¡solo disfruta de cada momento mientras nosotros nos encargamos del resto!
  corporative_events:
    heading: Eventos Corporativos
    img: Sala elegantemente decorada para evento corporativo
    description: Ya sea un retiro de trabajo en equipo, una conferencia o una fiesta navideña, aportamos profesionalismo y un toque de estilo a tus eventos corporativos. ¡Hagamos que tu próximo evento de trabajo sea inolvidable!
  special_occasions:
    heading: Ocasiones Especiales
    img: Sala decorada para un baby shower con temática de safari
    description: Cumpleaños, aniversarios, reuniones familiares—¡sea cual sea la ocasión, estamos aquí para hacerla extraordinaria! Con ideas creativas y todo lo esencial, convertimos tus momentos de la vida en recuerdos inolvidables.
  product_rental:
    heading: Alquiler de Productos
    img: Sillas blancas de resina elegantemente organizadas para un evento
    description: ¿Necesitas las piezas perfectas para dar vida a tu evento? Ofrecemos una amplia gama de productos de alquiler de alta calidad, desde elegantes mesas y sillas hasta encantadora decoración, todo listo para hacer realidad tu visión.

process:
  subheading: Trabaja con nosotros
  heading: Proceso
  img1: Pareja de esposos besándose en la ceremonia de su boda
  img2: Sala de ceremonias elegantemente decorada
  step1: Consulta Gratuita
  step2: Detalles & Planificación
  step3: Coordinación del Evento
  description: Con nuestro servicio, disfrutas de una planificación sin estrés y una ejecución impecable. Nos encargamos de tu presupuesto, coordinamos cada detalle y gestionamos los imprevistos, para que puedas ahorrar tiempo, energía y disfrutar de cada momento al máximo.
  cta: Hablémos

testimonials:
  heading: Testimonios
  img: Sandra, dueña de SOS Party Rental, preparando la decoración de un evento

gallery:
  heading: Galería
  img1: Hermosa decoración para una ceremonia de boda inolvidable
  img2: Deliciosa tabla de quesos y charcutería cuidadosamente preparada
  img3: Faroles con flores junto a una piscina, creando un ambiente acogedor

find_us:
  heading: Encuéntranos

faq:
  heading: P&R
  items:
    - question: ¿Cuáles son los tiempos de entrega y devolución de artículos de alquiler?
      answer: Los artículos pueden recogerse un día antes del evento y deben devolverse al día siguiente. Si no se devuelven a tiempo, se aplicará un cargo adicional de $20 por día de retraso. Para entregas y recogidas el mismo día, se aplicarán tarifas adicionales. Si tienes más preguntas o necesitas aclaraciones, no dudes en contactarnos. ¡Estamos aquí para ayudarte! 😊
    - question: Política de pérdidas y daños
      answer: El cliente asume la responsabilidad total de los artículos desde el momento en que los recibe o recoge, hasta que son devueltos a nuestras instalaciones. Para evitar cargos adicionales, es importante no exponer los artículos a condiciones climáticas que puedan causarles daños. En caso de pérdida, rotura o deterioro, el cliente deberá cubrir el 100% de los costos de reemplazo. Ten en cuenta que nuestro seguro no cubre los artículos mientras estén fuera de nuestra custodia y control.
    - question: ¿Cómo manejan los pagos?
      answer: Aceptamos pagos en efectivo y a través de Zell. Para garantizar tu reserva, requerimos un depósito del 50% del valor total acordado. El saldo restante debe abonarse antes o en la fecha del evento. Sin el depósito, no podemos garantizar la reserva. En caso de cancelación del evento, el depósito no será reembolsable. Una vez entregados los artículos, el pago debe completarse en su totalidad, independientemente de si algunos de los artículos no se utilizarán durante el evento.
    - question: ¿Qué sucede si necesito cancelar?
      answer: Si necesitas cancelar, puedes hacerlo hasta una semana antes del evento. Sin embargo, el depósito no es reembolsable.
    - question: ¿El precio incluye impuestos y costos de entrega?
      answer: No, los precios que aparecen en nuestra página web no incluyen impuestos ni costos de entrega, ya que estos varían según cada cliente. Los costos específicos se detallarán en la factura o estimado que te enviaremos una vez realizada la solicitud.
---
