---
layout: pages/our-story.njk

title: "Nuestra Historia: Líderes en Eventos en el Sur de Florida"

meta:
  title: "Nuestra Historia: Creando Eventos Inolvidables en Florida"
  description: Descubre cómo transformamos nuestra pasión por los eventos en una empresa líder en planificación y montaje en el sur de Florida desde 2005
  keywords: eventos en Florida, planificación de eventos en Florida, montaje de eventos en Florida, organización de eventos en FLorida, eventos personalizados en Florida, alquiler para eventos en FLorida, servicios de eventos en Florida, bodas en Florida, eventos corporativos en Florida, celebraciones especiales en Florida, eventos únicos en Florida, expertos en eventos en Florida, empresa de eventos Florida, planificación de bodas en Florida, renta de artículos para eventos en Florida

heading: Nuestra Historia
img: Sandra, la dueña de SOS Party Rental, y su esposo, Alfredo, como organizadores de un evento
paragraphs:
  - ¡Hola, soy Sandra!
  - Mi historia comenzó cuando trabajaba como camarera en una cadena hotelera. En ese entonces, el chef ejecutivo tenía una empresa enfocada en eventos, que atendía en su tiempo libre. Un día, él me pidió que lo ayudara atendiendo uno de sus eventos privados, y, gracias a mi pasión por las ventas y el servicio al cliente, acepté sin dudarlo. A raíz de ese evento, muchas personas comenzaron a contactarme para atender sus reuniones privadas.
  - Con el tiempo, decidí emprender mi propio camino en el mundo de los eventos. Inicié ofreciendo servicios de planificación y montaje con el objetivo de crear experiencias únicas y personalizadas para cada cliente. Mi dedicación y esfuerzo me permitieron construir una base de clientes leales, y pronto la recomendación de boca en boca empezó a abrir nuevas puertas. Así, este maravilloso negocio comenzó a crecer.
  - Tiempo después conocí a mi esposo, Alfredo, quien decidió unirse al proyecto. Con su energía contagiosa y su extraordinario servicio al cliente, nos convertimos en un equipo imparable. Alfredo tomó las riendas del área del bar, encargándose de aportar su carisma y entusiasmo a cada evento, mientras yo me enfocaba en los detalles de la planificación y el montaje. Juntos, ofrecemos soluciones integrales, desde la organización completa del evento hasta servicios personalizados como el bar, diseñando paquetes a medida para cada cliente.
  - "Hoy, casi 20 años después y con más de 1,000 eventos realizados desde que comenzamos en 2005, seguimos trabajando con el mismo amor y dedicación que nos impulsaron al inicio. Nuestro lema siempre ha sido: “Especialistas en montaje de eventos. Manos expertas, servicio impecable.” Nos apasiona cuidar cada detalle y crear momentos únicos que se queden en los corazones de nuestros clientes."
  - Nuestro sueño es seguir creciendo y consolidarnos como la mejor opción para montajes completos de eventos en el sur de Florida. Cada evento que organizamos es especial, y esperamos seguir creando recuerdos inolvidables durante muchos años más.
---
