<nav class="site-nav-primary">
  <div class="container site-nav-container">
    <a href="{{ "page.home.link" | i18n }}">
      <img class="site-nav-logo" src="/images/sos-logo.png" alt="{{ nav.logo }}">
    </a>

    <div class="site-nav-links">
      <a class="site-nav-link" href="{{ "page.home.link" | i18n }}#services">{{ nav.services }}</a>
      <a class="site-nav-link" href="{{ "page.product_rental.link" | i18n }}">
        {{ nav.catalog }}
      </a>
      <a class="site-nav-link" href="{{ "page.gallery.link" | i18n }}">
        {{ nav.gallery }}
      </a>
      <a class="site-nav-link" href="{{ "page.our_story.link" | i18n }}">{{ nav.our_story }}</a>
      <a class="site-nav-link" href="#site-footer">{{ nav.contact }}</a>
      <div style="display: flex; align-items: center; gap: 0.1em;">
        {% for language in languages %}
          {% if loop.index > 1 %}
            <span>|</span>
          {% endif %}
          <a href="{{ ("page." + page_id + ".link") | i18n(language) }}" class="site-nav-link" style="margin: 0; padding-inline: 0.5em;">{{ language }}</a>
        {% endfor %}
      </div>
      <div class="ml-20px">
        <a href="https://api.whatsapp.com/send?phone=19543268989" class="btn-secondary site-nav-btn">
          {{ nav.cta }}
        </a>
      </div>
    </div>

    <button id="site-nav-hamburger" class="site-nav-hamburger" aria-label="{{ i18n.open_menu }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
        <path d="M4 18L20 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
        <path d="M4 12L20 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
        <path d="M4 6L20 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
      </svg>
    </button>
  </div>

  <div class="mobile-site-nav">
    <a class="mobile-site-nav-link" href="{{ "page.home.link" | i18n }}#services">{{ nav.services }}</a>
    <a class="mobile-site-nav-link" href="{{ "page.product_rental.link" | i18n }}">
      {{ nav.catalog }}
    </a>
    <a class="mobile-site-nav-link" href="{{ "page.gallery.link" | i18n }}">
      {{ nav.gallery }}
    </a>
    <a class="mobile-site-nav-link" href="{{ "page.our_story.link" | i18n }}">{{ nav.our_story }}</a>
    <a class="mobile-site-nav-link" href="#site-footer">{{ nav.contact }}</a>
    <div style="display: flex; align-items: center; gap: 0.1em;">
      {% for language in languages %}
      {% if loop.index > 1 %}
      <span>|</span>
      {% endif %}
      <a href="{{ (" page." + page_id + ".link" ) | i18n(language) }}" class="mobile-site-nav-link"
        style="margin: 0; padding-inline: 0.5em;">{{ language }}</a>
      {% endfor %}
    </div>
    <a href="https://api.whatsapp.com/send?phone=19543268989" class="btn-secondary mobile-site-nav-btn">
      {{ nav.cta }}
    </a>

    <button id="mobile-site-nav-close" class="mobile-site-nav-close" aria-label="{{ i18n.close_menu }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
        <path d="M19 5L5 19M5.00001 5L19 19" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</nav>
